{% extends 'base.html' %}
{% block title %}{{ object.text|truncatechars:10 }}{% endblock %}

{% block content %}

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8 panel panel-default">
        <p><img src="{{ object.photo.url }}" style="width:100%;"></p>
        <button type="button" class="btn btn-outline-primary btn-sm">
            {{ object.author.username }}
        </button>
        <!-- post.text를 |를 이용하여 필터하는데, html에서 줄바꿈은 DB에서 문자열로 취급하므로, 이를 호환해주는 역활을 한다. -->
        <p>{{ object.text|linebreaksbr }}</p>
        <a href="{% url 'photo:photo_delete' pk=object.id %}"
            class="btn btn-outline-danger btn-sm float-right">delete</a>
        <a href="{% url 'photo:photo_update' pk=object.id %}"
            class="btn btn-outline-success btn-sm float-right">update</a>
    </div>
    <div class="col-md-2"></div>
</div>

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8 panel panel-default">
        {% load disqus_tags %}
        {% disqus_show_comments %}
    </div>
    <div class="col-md-2"></div>
</div>

{% endblock %}